/* GENERAL STYLING */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

img {
    max-height: 200px;
}

/* FLEXBOX STYLING */

.test-flexbox {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }

.flex-container {
    display: flex;
    padding: 1%;
}

.flex-child {
    flex: 0 200px;
}

.flex-child-2 {
  flex: 4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(89, 134, 194);
  padding-right: 10%;
}

.flex-child:first-child {
    margin-right: 20px;
}
  
/* HEADER STYLING */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    /* display: inline-block; */
    font-size: 48px;
    background-color: #0d486d;
    left: 0px;
    padding-left: 4%;
    position: absolute;
}

.portfolio-card header {
    display: inline-block;

}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    /* position: absolute;
    right: 0px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    text-align: right;
    background-position: 100%;
    padding-right: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    border-bottom: 5px solid #0072bb;
    /* float: right; */
}

header nav ul li:hover {
    background-color: #0072bb;
}

/* OTHER STYLING */
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/seawaves.png"); 
    background-size: cover;
    background-position: center;
    position: relative;
}

.subtitle {
    background-color: #0d486d;
    font-size: 48px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.seo {
    font-weight: normal;
    font-style: normal;
}

.side-header-2 {
    text-align: right;
    width: 20%;
    height: 100%;
    border-right: 5px solid #2589bd;
    padding: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#2a607c;
    font-size: 38px;
}

.section-content {
    float: right;
    width: 80%;
    padding: 2%;
    display: block;
}

.sloth-pics {
    width:100%;
    height:100%;
    object-fit: cover;
}

.work {
    overflow: auto;
}

.portfolio-card {
    flex: 1 0 300px;
    text-align: center;
    border-style: solid;
    border-width: 7px;
    margin: 5px;
    position: relative;
  }

.portfolio-card:hover {
    filter: contrast(0.7);
}

.sloth-header {
    background-color: #0072bb;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-description {
    font-size: 15px;
    text-align: left;
}

.profile-photo {
    height: auto;
    float: left;
    padding-right: 2%;
    object-fit: cover;
  }

/*CONTACT LIST STYLING*/ 
.contact-list li {
    border-bottom: 5px solid #0072bb;
    list-style-type: none;
    font-size: 200%;
    display: inline;
    margin-right: 2%;
    margin-left: 2%;
}

.contact-list li:hover {
    background-color: #0072bb;
  }

/* FOOTER STYLING */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

@media screen and (max-width: 992px) {
 /* FLEXBOX SEEMS TO TAKE CARE OF THIS SIZE */
  }
  
  /* Large smartphones */
  @media screen and (max-width: 768px) {
 /* FLEXBOX ALSO SEEMS TO TAKE CARE OF THIS SIZE */ 
  }
  
  /* Small smartphones */
  @media screen and (max-width: 576px) {
    
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .side-header-2 {
      border-bottom: 5px solid #2589bd;
      border-right: 0px;
      flex: 2 0;
      display: block;
      width: auto;
    }
  }